[submodule "mapnik"]
	path = mapnik
	url = git@github.com:PaulWagener/mapnik.git

[submodule "libpng"]
	path = libpng
	url = git://libpng.git.sourceforge.net/gitroot/libpng/libpng
[submodule "libproj"]
	path = libproj
	url = git://github.com/svn2github/libproj.git
[submodule "libtiff"]
	path = libtiff
	url = git://github.com/DaGaMs/libtiff.git
