[submodule "mapnik"]
	path = mapnik
	url = git://github.com/PaulWagener/mapnik.git

[submodule "libpng"]
	path = libpng
	url = git://libpng.git.sourceforge.net/gitroot/libpng/libpng
[submodule "libproj"]
	path = libproj
	url = git://github.com/svn2github/libproj.git
[submodule "libtiff"]
	path = libtiff
	url = git://github.com/DaGaMs/libtiff.git
[submodule "libjpeg"]
	path = libjpeg
	url = https://github.com/LuaDist/libjpeg.git
[submodule "libicu"]
	path = libicu
	url = https://github.com/svn2github/libicu.git
[submodule "libicu_host"]
	path = libicu_host
	url = https://github.com/svn2github/libicu.git
[submodule "boost"]
	path = boost
	url = https://github.com/PaulWagener/boost-svn.git
[submodule "freetype"]
	path = freetype
	url = http://git.savannah.gnu.org/cgit/freetype/freetype2.git
[submodule "cairo"]
	path = cairo
	url = git://anongit.freedesktop.org/git/cairo
[submodule "cairomm"]
	path = cairomm
	url = git://git.cairographics.org/git/cairomm
[submodule "pixman"]
	path = pixman
	url = git://anongit.freedesktop.org/pixman
